<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/html-head :: head('Добавление зала')}"></head>
<body>
<div th:replace="~{fragments/html-header :: header}"></div>
<main class="container">
    <div th:if="${#authorization.expression('hasRole(''ROLE_Администратор'')')}">

        <h1>Добавить зал</h1>

        <div th:if="${#lists.isEmpty(cinemas)}">
            <p>Нет доступных кинотеатров. <a th:href="@{/cinemas/new}">Добавить кинотеатр</a></p>
        </div>

        <form th:action="@{/halls}" th:object="${hall}" method="post" th:if="${!#lists.isEmpty(cinemas)}"
              class="d-flex flex-column justify-content-center align-items-center">
            <div class="form-floating col-12 mb-3">
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Название зала"
                       required>
                <label for="name">Название зала</label>
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <select id="cinema" name="cinemaId" required class="form-select mb-3" aria-label="Кинотеатр">
                <option th:each="cinema : ${cinemas}" th:value="${cinema.id}"
                        th:text="${cinema.address.city.name} + ', ' + ${cinema.name}"></option>
            </select>

            <div class="form-floating col-12 mb-3">
                <input type="number" min="1" class="form-control" id="rows" name="rows" placeholder="Количество рядов"
                       required>
                <label for="rows">Количество рядов</label>
            </div>

            <div class="form-floating col-12 mb-3">
                <input type="number" min="1" class="form-control" id="columns" name="columns"
                       placeholder="Количество мест в ряду"
                       required>
                <label for="columns">Количество мест в ряду</label>
            </div>

            <button class="btn btn-primary d-inline-flex align-items-center" type="submit">Добавить</button>
        </form>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_Менеджер'')')}">

        <h1>Добавить зал</h1>

        <div th:if="${#lists.isEmpty(cinemasByManager)}">
            <p>Нет доступных кинотеатров.</p>
        </div>

        <form th:action="@{/halls}" th:object="${hall}" method="post" th:if="${!#lists.isEmpty(cinemas)}"
              class="d-flex flex-column justify-content-center align-items-center">
            <div class="form-floating col-12 mb-3">
                <input type="text" class="form-control" id="name1" th:field="*{name}" placeholder="Название зала"
                       required>
                <label for="name1">Название зала</label>
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <select id="cinema1" name="cinemaId" required class="form-select mb-3" aria-label="Кинотеатр">
                <option th:each="cinema : ${cinemasByManager}" th:value="${cinema.id}"
                        th:text="${cinema.address.city.name} + ', ' + ${cinema.name}"></option>
            </select>

            <div class="form-floating col-12 mb-3">
                <input type="number" min="1" class="form-control" id="rows1" name="rows" placeholder="Количество рядов"
                       required>
                <label for="rows1">Количество рядов</label>
            </div>

            <div class="form-floating col-12 mb-3">
                <input type="number" min="1" class="form-control" id="columns1" name="columns"
                       placeholder="Количество мест в ряду"
                       required>
                <label for="columns1">Количество мест в ряду</label>
            </div>

            <button class="btn btn-primary d-inline-flex align-items-center" type="submit">Добавить</button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/html-footer :: footer}"></div>
</body>
</html>