<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/html-head :: head('Добавление фильма')}"></head>
<body>
<div th:replace="~{fragments/html-header :: header}"></div>
<main class="container">
    <h1>Добавить фильм</h1><!--enctype="multipart/form-data"-->
    <form th:action="@{/movies}" method="post" th:object="${movie}" class="d-flex flex-column justify-content-center align-items-center">
        <div class="form-floating col-12 mb-3">
            <input type="text" id="title" class="form-control" th:field="*{title}" required/>
            <label for="title">Название:</label>
        </div>

        <div class="form-floating col-12 mb-3">
            <input type="text" id="linkTitle" class="form-control" th:field="*{linkTitle}" required/>
            <label for="linkTitle">Текст ссылки:</label>
        </div>

        <div class="form-floating col-12 mb-3">
            <textarea id="description" class="form-control" th:field="*{description}" required></textarea>
            <label for="description">Описание</label>
        </div>


        <div class="form-floating col-12 mb-3">
            <input type="number" min="1" class="form-control" id="duration" th:field="*{duration}" step="1" required/>
            <label for="duration">Продолжительность (в минутах)</label>
        </div>

        <!--
        <label for="genres">Жанры:</label>
        <select id="genres" name="genreIds" multiple>
            <option th:each="genre : ${allGenres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        -->

        <label>Жанры:</label>
        <div th:each="genre : ${allGenres}" class="form-check mb-3 w-100 text-start">
            <input type="checkbox" th:id="${genre.id}" th:name="genreIds" th:value="${genre.id}"/>
            <label th:for="${genre.id}" th:text="${genre.name}"></label>
        </div>

        <select id="rating" name="rating" required class="form-select mb-3" aria-label="Возрастной рейтинг">
            <option th:each="rating : ${ratings}" th:value="${rating}" th:text="${rating.name}"></option>
        </select>

        <!--<label for="posterFile">Загрузить новый постер:</label>
        <input type="file" id="posterFile" name="posterFile" accept="image/*" />-->
        <div class="form-floating col-12 mb-3">
            <input type="number" min="0" class="form-control" id="basePriceInRubles" th:field="*{basePriceInRubles}"
                   step="0.01" required/>
            <label for="basePriceInRubles">Цена в рублях</label>
        </div>

        <button class="btn btn-primary d-inline-flex align-items-center" type="submit">Добавить</button>
    </form>
</main>
<div th:insert="~{fragments/html-footer :: footer}"></div>
</body>
</html>