<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/html-head :: head('Список бронирований')}"></head>
<body>
<div th:replace="~{fragments/html-header :: header}"></div>
<main class="container">
    <h1>Список бронирований</h1>

    <div th:replace="~{fragments/html-modal-error :: div.modal}"></div>
    <div th:replace="~{fragments/html-modal-success :: div.modal}"></div>

    <div th:if="${#authorization.expression('hasRole(''ROLE_Администратор'')') or #authorization.expression('hasRole(''ROLE_Менеджер'')')}">
        <table class="table">
            <thead>
            <tr>
                <th>Время бронирования</th>
                <th>Статус бронирования</th>
                <th>Статус оплаты</th>
                <th>Стоимость билета</th>
                <th>Название фильма</th>
                <th>Место</th>
                <th>Подробнее</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${adminBookings}">
                <td th:text="${booking.bookingTime.format(formatter)}"></td>
                <td th:text="${booking.bookingStatus.name}"></td>
                <td th:text="${booking.paymentStatus.name}"></td>
                <td th:text="${booking.totalPriceInRubles}"></td>
                <td th:text="${booking.session.movie.title}"></td>
                <td th:text="${booking.seat.rowNumber + ' ряд, ' + booking.seat.seatNumber + ' место.'}"></td>
                <td><a th:href="@{/bookings/{id}(id=${booking.id})}">Подробнее</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${!#authorization.expression('hasRole(''ROLE_Администратор'')') and !#authorization.expression('hasRole(''ROLE_Менеджер'')')}">
        <table class="table">
            <thead>
            <tr>
                <th>Время бронирования</th>
                <th>Статус бронирования</th>
                <th>Статус оплаты</th>
                <th>Стоимость билета</th>
                <th>Название фильма</th>
                <th>Место</th>
                <th>Подробнее</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${userBookings}">
                <td th:text="${booking.bookingTime.format(formatter)}"></td>
                <td th:text="${booking.bookingStatus.name}"></td>
                <td th:text="${booking.paymentStatus.name}"></td>
                <td th:text="${booking.totalPriceInRubles}"></td>
                <td th:text="${booking.session.movie.title}"></td>
                <td th:text="${booking.seat.rowNumber + ' ряд, ' + booking.seat.seatNumber + ' место.'}"></td>
                <td><a th:href="@{/bookings/{id}(id=${booking.id})}">Подробнее</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:replace="~{fragments/html-footer :: footer}"></div>
<script th:replace="~{fragments/js-modal :: script}"></script>
</body>
</html>
