<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/html-head :: head('Список городов')}"></head>
<body>
<div th:replace="~{fragments/html-header :: header}"></div>
<main class="container">
    <h1>Список городов</h1>

    <div th:replace="~{fragments/html-modal-error :: div.modal}"></div>
    <div th:replace="~{fragments/html-modal-success :: div.modal}"></div>

    <div th:if="${#lists.isEmpty(cities)}">
        <p>Список городов пуст.</p>
    </div>

    <div class="d-flex justify-content-center">
        <a th:href="@{/cities/new}" class="btn btn-primary">Добавить город</a>
    </div>

    <table class="table" th:if="${!#lists.isEmpty(cities)}">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city : ${cities}">
            <td><a th:href="@{/cities/{id}(id=${city.id})}" th:text="${city.name}">Название города</a></td>
        </tr>
        </tbody>
    </table>
</main>
<div th:replace="~{fragments/html-footer :: footer}"></div>
<script th:replace="~{fragments/js-modal :: script}"></script>
</body>
</html>